<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="EventApiController">Hackathon.Feature.ServiceAPI.Controllers.ServiceController, Hackathon.Feature.ServiceAPI</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>

    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
        type="Hackathon.Feature.ServiceAPI.Processor.RegisterRoute, Hackathon.Feature.ServiceAPI" />
        <processor type="Hackathon.Feature.ServiceAPI.Processor.RegisterRoute, Hackathon.Feature.ServiceAPI" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>

  </sitecore>
</configuration>