<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>

    <add key="CognitiveService.OleChat.LUISAppUrl" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps" />
    <add key="CognitiveService.OleChat.OleAppId" value="/4590b630-2880-45e9-9dd1-13bdcc7b0093?subscription-key=" />
    <add key="CognitiveService.OleChat.OleAppkey" value="13a3cf2af855495fbefe916a24de362e" />
    <add key="CognitiveService.OleChat.OleAppkey" value="13a3cf2af855495fbefe916a24de362e" />
    <add key="xConnectCertificate" value="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9EE7C4BA97D87E31F0300F2E1EAEC7E0BD7CC144" />
    <add key="xConnectClient" value="https://xp091.xconnect/" />
    <add key="APIToTriggerGoals" value="https://xp091.xconnect/" />
  </appSettings>
</configuration>
